.header {
  box-sizing: content-box;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: rgba(18, 23, 35, 255);
  min-height: 100vh;
  padding-bottom: 10vh;
  gap: 10rem;
}

.profile-img {
  display: block;
  border-radius: 50%;
  width: 300px;
  height: 300px;
  background-size: cover;
  border: 6px solid yellow;
  box-shadow: 0 0 8px yellow;
  margin-bottom: 2rem;
}

.profile {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 2rem;
}

.description {
  max-width: 690px;
  line-height: 2rem;
  font-size: 1.15rem;
}

.highlight {
  color: yellow;
}

.links {
  display: grid;
  grid-template-columns: repeat(5, 40px);
  list-style: none;
  margin: 2.5rem 0 0 0;
  padding: 0;
  gap: 7rem;
}

.text-link {
  color: yellow;
  text-decoration: none;
}

.text-link:hover {
  cursor: pointer;
}

@media (max-width: 1200px) {
  .header {
    flex-direction: column;
    padding: 10rem 1.5rem 12rem 1.5rem;
    min-height: auto;
    gap: 0;
  }

  .profile {
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .profile-img {
    width: 200px;
    height: 200px;
  }

  .title {
    font-size: 2rem;
  }

  .description {
    font-size: 1.2rem;
  }
}

@media (max-width: 776px) {
  .links {
    gap: 4rem;
    grid-template-columns: repeat(3, 40px);
    row-gap: 2.8rem;
  }

  .title {
    font-size: 1.8rem;
  }

  .description {
    font-size: 1.1rem;
  }
}