.container {
  max-width: 700px;
  margin: 3rem auto 10rem auto;
  background-color: rgba(29, 36, 48, 255);
  border-radius: 15px;
  padding: 4rem;
  color: white;
  font-size: 1.2rem;
}

.title {
  text-transform: uppercase;
  font-size: 2rem;
  margin: 0;
}

.link {
  color: yellow;
  text-decoration: none;
}

form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 2rem;
}

.button {
  padding: 0.8rem 2rem;
  font-size: 1.4rem;
  text-transform: uppercase;
  background-color: yellow;
  color: rgba(18, 23, 35, 255);
  border: 2px solid yellow;
  border-radius: 5px;
  margin: 2rem 0 1rem 0;
}

.button:hover {
  cursor: pointer;
  background-color: rgba(18, 23, 35, 255);
  color: yellow;
}

@media (max-width: 680px) {
  .container {
    margin: 3rem 1rem 8rem 1rem;
    padding: 2rem;
  }

  .title {
    font-size: 1.8rem;
  }

  .text {
    font-size: 1rem;
  }
}
