.container {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: auto;
}

.title {
  font-size: 2rem;
  text-transform: uppercase;
  margin: 3.5rem 1.5rem;
}

.project {
  display: flex;
  margin: 0 1.5rem 11rem 1.5rem;
  gap: 5rem;
}

.project:last-child {
  margin-bottom: 5rem;
}

.details {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* max-width: 50%; */
  width: 100%;
}

.project-title {
  margin: 0 0 1.5rem 0;
  font-size: 1.8rem;
}

.project-description {
  margin: 0 0 2.5rem 0;
  font-size: 1.2rem;
}
