@import url("https://fonts.googleapis.com/css2?family=Lato&family=M+PLUS+Rounded+1c:wght@500&family=Montserrat:wght@500&family=Source+Sans+Pro&display=swap");

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  height: 200rem;
  font-family: "Montserrat", "Source Sans Pro", Georgia, "Times New Roman",
    Times, serif;
}
