.footer {
  background-color: rgba(18, 23, 35, 255);
  color: white;
  text-align: center;
  padding: 1.75rem 1rem;
}

.highlight {
  color: yellow;
  text-decoration: none;
}

.links {
  display: grid;
  grid-template-columns: repeat(5, 40px);
  justify-content: center;
  list-style: none;
  margin-bottom: 1.75rem;
  padding: 0;
  gap: 3rem;
}


.text {
  margin: 0;
  padding: 0;
}

@media (max-width: 520px) {
  .links {
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }
}
