.downloadBtn, .link, .logoLink {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: yellow;
    font-size: 1.1rem;
    text-decoration: none;
    color: rgba(29,36,48,255);
    text-transform: uppercase;
    border: 2px solid transparent;
    cursor: pointer;
} 

.downloadBtn {
    padding: 0.35rem 0.6rem;
    margin-left: 2.5rem;
    gap: 0.4rem;
}

.logoLink {
    background-color: yellow;
    padding: 0.5rem;
    font-size: 2rem;
}

.icon {    
    margin: 0;
    padding: 0;
}

.button:hover, .logoLink:hover {
    background-color: rgba(29,36,48,255);
    border: 2px solid yellow;
    color: yellow;
}
