.button {
    display: block;
    padding: 0.35rem 0.6rem;
    border-radius: 5px;
    background-color: yellow;
    font-size: 1.1rem;
    text-decoration: none;
    color: rgba(29,36,48,255);
    text-transform: uppercase;
    margin-left: 2.5rem;
    border: 2px solid transparent;
    cursor: pointer;
} 

.button:hover {
    background-color: rgba(29,36,48,255);
    border: 2px solid yellow;
    color: yellow;
}

.icon {

    margin-left: 0.6rem;
}