.downloadBtn,
.project-link,
.link,
.logoLink {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color: yellow;
  font-size: 1.1rem;
  text-decoration: none;
  color: rgba(29, 36, 48, 255);
  text-transform: uppercase;
  border: 2px solid transparent;
  cursor: pointer;
  padding: 1rem 1.5rem;
}

.project-link {
  gap: 1rem;
}

.downloadBtn {
  padding: 0.35rem 0.6rem;
  gap: 0.4rem;
}

.logoLink {
  background-color: yellow;
  padding: 0.5rem;
  min-width: 3.5rem;
  font-size: 2rem;
}

.icon {
  margin: 0;
  padding: 0;
}

.downloadBtn:hover,
.project-link:hover,
.logoLink:hover {
  background-color: rgba(29, 36, 48, 255);
  border: 2px solid yellow;
  color: yellow;
}
