.form-section {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.highlight {
  color: yellow;
  text-decoration: none;
}

.input,
.message,
.invalid-input {
  height: 2.5rem;
  font-size: 1rem;
  padding-left: 0.5rem;
}

.invalid-input {
  background-color: rgb(246, 246, 196);
}

.error {
  color: yellow;
  margin: 0;
  font-size: 1rem;
}

.message {
  padding-top: 0.5rem;
  min-height: 8em;
  resize: vertical;
}


