.img-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 15px;
  max-width: 500px;
}

.img {
  display: block;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  width: 120%;
}

.btn-background {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2.5rem 0;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: rgba(29, 36, 48, 255);
  width: 100%;
}
