.img-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  max-width: 550px;
  overflow: hidden;
  margin: auto;
}

.img {
  display: block;
  width: 100%;
  height: 100%;
}

.btn-background {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 2.5rem 0;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: rgba(29, 36, 48, 255);
  width: 100%;
}

@media (max-width: 1200px) {
  .img-card {
    max-width: none;
  }
}
